<div id="registered" class="card content">
	<div class="wrapper pure-form">

	    <header id="topBar">
	        <h2 translate>Welcome!</h2>
	    </header>
	    
	    <div class="logo"><img src="./img/logo_elements.png" /></div>
	    
	    <p class="intro"><span translate>You can now start sending your updates to your neighbourhood through Nearhood. The topics are up to you, they can be anything - from shopping tips to garage sales, irritating neighbours or pictures of blossoming flowers.</span></p>
	    
	    <p><i class="icon-reply-all icon-4x pull-left"></i> <span translate>You can also just participate in neighbourhood discussions by commenting messages sent by others</span>.</p>


	    <p><i class="icon-star-empty icon-4x pull-right"></i> <span translate>And remember to show your support to your neighbours by clicking <b>"Like"</b> when you find something worth liking...</span></p>
	    
	    
	    <button class="pure-input-1 pure-button pure-button-primary" ui-sref="messages({type:'all'})"><span translate>Go to your Nearhood...</span></button>
	    

	</div><!-- /wrapper -->
</div><!--/content -->